<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StreetCrash.DAO.Properties.Settings.streetcrash_dbConnectionString"
            connectionString="Data Source=rngtnpa791.database.windows.net,1433;Initial Catalog=streetcrash_db;Persist Security Info=True;User ID=streetcrash;Password=123..abc"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>